<head>
  <meta charset="utf-8">
  <title>Boston Dog Parks</title>
</head>

<body class="dogparks-bg">
  <div class="row">

<!-- Dogpark List -->
    <div class="large-12 columns">
      <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4">

        <% @dogparks.each do |d| %>
            <li>
            <a href="<%= dogpark_path(d) %>">
              <% if image_tag(d.park_picture) == "<img src=\"\" />" %>
                <img class= "dogpark-img" src="/group-walk.jpg"/></a>
              <% else %>
                <img class= "dogpark-img"><%= image_tag(d.park_picture) %></a>
              <% end %>

            <h4 class="white text-center"><%= d.name %></h4>
            </li>
        <% end %>
      </ul>

      </div>
  </div>
</body>
