<head>
  <meta charset="utf-8">
  <title>Join a Playdate!</title>
</head>

<body class="playdates">
  <div class="small-10 text-center small-centered columns">
      <h1>Join a Playdate</h1>



  </div>
</body>
