<div class="create-bg">
  <div class="large-10 window-styling small-centered columns">
    <div class="row">
      <div class="preferences right large-6 small-7 large-uncentered small-centered columns">
        <fieldset>
          <h3>Create a Playdate</h3>
          <%= render "layouts/newplaydate" %>
        </fieldset>
      <div>
    </div>
  </div>
</div>
