<head>
  <meta charset="utf-8">
  <title>Welcome to Wag!</title>
</head>

<body class="body-home-page">
  <div class="row home-title fullWidth animated shake">
    <div class="small-10 text-center small-centered columns">
      <h1 class="new_title">WAG</h1>
    </div>

  </div>
</body>
