@font-face{
    font-family: 'GoodDog';
    src: font-url("GoodDog.otf") unquote("format('opentype')");
    font-weight: normal;
    font-style: normal;

}

@font-face{
    font-family: 'LeagueSpartan-Bold';
    src: font-url("LeagueSpartan-Bold.otf") unquote("format('opentype')");
    font-weight: normal;
    font-style: normal;

}

@font-face{
    font-family: 'Junction-bold';
    src: font-url("Junction-bold.otf") unquote("format('opentype')");
    font-weight: normal;
    font-style: normal;

}

@font-face{
    font-family: 'Junction';
    src: font-url("Junction-regular.otf") unquote("format('opentype')");
    font-weight: normal;
    font-style: normal;

}
