@mixin image-style {
  border-radius: 30em;
  height: 21em;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
}

@mixin user-image-style {
  border-radius: 30em;
  height: auto;
  width: 17em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
}
