@import "modules/mixins";

.body-profile-page {
  background: url("/happydog.jpg") no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  opacity: 0.95;
}

.small-profile-text {
  color: white;
}

.user-info {
  padding-bottom: 1em;
  padding-top: 0.5em;
  text-align: center;
}

.profile-pic img {
    margin-top: 15px;
    border-radius: 8px;
    max-width: 120px;
}

.user-img {
  @include user-image-style;
  max-width: 100%
}

.dog-image {
  border-radius: 25px;
  max-height: 500px;
  max-width: 400px;
  padding: 0;
}

.dog-info {
  text-align: right;
}

.question {
  font-size: 1.5em;
}

.upload {
  
}
