@import "modules/mixins";

.user-info {
  padding-bottom: 1em;
  padding-top: 0.5em;
  text-align: center;
}

img {
  @include image-style;
}

.dog-image {
  border-radius: 25px;
  max-height: 500px;
  max-width: 400px;
  padding: 0;
}

.user-pic {

}
