html, body {
  height: 100%;
  margin: 0;
}

#map {
  width: 450px;
  height: 550px;
  border-width: 7px;
  box-shadow: 2px 2px 10px #B1B1B1;
  border-style: solid;

}



#map-container {
   height: 400px;
   width: 300px;
   border-radius: 16px 16px;
   border-color: #fff;
   margin-top: 25px;
 }
 #map-canvas {
   height: 384px;
   width: 100%;
 }
