/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */
@import "modules/profile";
@import "modules/mixins";
@import "modules/home";
@import "modules/fonts";
@import "modules/playdates";
@import "modules/show_playdates";


$navbargreen: #1b2b0d;

body {
  padding-top: 60px;
}

.wag {
  font-family: $good_dog_font;
  font-size: 2.5rem;
}

.nav-bar-font {
  font-family: "LeagueSpartan-Bold";;
}

.alert-box {
  margin-top: -15px;
  background-color: #9bff69;
  color: #033007
}

.login-links a {
  font-family: "Junction-Regular";
  color: black;
  font-weight: bold;
}

.logo {
  width: 50%;
  height: 50%;
}

.login {
  background-color: #bfddc1;
}

.signup {
  background-color: #bfddc1;
}

.body-dogpark-page {
  background: url("/barkpark.jpg") no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  opacity: 0.95;
}
